header {
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 8vh;
    padding-left: 2vh;
    padding-right: 2vh;
    position: sticky;
    top: 0;

}

.hero{
    height: 92vh;
    background-color: rgb(118, 164, 164);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}